<div class="login-wrapper">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>Iniciar Sesión</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email" placeholder="ejemplo@correo.com">
          <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
            El email es requerido
          </mat-error>
          <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
            Email inválido
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Contraseña</mat-label>
          <input matInput type="password" formControlName="password">
          <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
            La contraseña es requerida
          </mat-error>
        </mat-form-field>

        <div *ngIf="errorMessage" class="error-alert">
          {{ errorMessage }}
        </div>

        <button mat-flat-button color="primary" type="submit" [disabled]="loginForm.invalid" class="full-width btn-submit">
          INGRESAR
        </button>

      </form>
    </mat-card-content>

    <mat-card-actions> <span class="register-link">
        ¿No tenés cuenta? <a routerLink="/register">Registrate acá</a>
      </span>
    </mat-card-actions>
  </mat-card>
</div>